* {
  margin: 0;
  padding: 0;
}
/* html {
} */

body {
  font-family: sans-serif;
  height: 100vh;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgb(255, 30, 0),
    rgb(255, 80, 0),
    rgb(255, 157, 0)
  );
  display: flex;
  /* align-items: center; */
  justify-content: center;
}
.container {
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);

  border-radius: 16px;
  box-shadow: 0px 4px 30px rgba(35, 35, 35, 0.1);
  color: #232323;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.34);
  flex-basis: 400px;
  height: 540px;
  padding: 20px 35px;
}
.display {
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  background: rgba(255, 255, 255, 0.75);
  border: 1px solid rgba(255, 255, 255, 0.01);
  border-radius: 16px;
  box-shadow: 4px 30px rgba(35, 35, 35, 0.1);
  color: #232323;
  font-size: 35px;
  overflow: auto;
  text-align: right;
  padding: 20px;
  width: 326px;
}
.calc-button-row {
  display: flex;
  justify-content: space-between;
  margin: 5% 0;
}
.calc-button {
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  background: rgba(255, 255, 255, 0.75);
  border: 1px solid rgba(35, 35, 35, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(35, 35, 35, 0.01);
  color: #232323;
  flex-basis: 20%;
  font-family: inherit;
  font-size: 24px;
  height: 65px;
}
.calc-button:last-child {
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  background: rgba(255, 255, 255, 0.75);
  border: 1px solid rgba(35, 35, 35, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(35, 35, 35, 0.01);
  color: #232323;
  background: red;
}
.calc-button:last-child:hover {
  background-color: inherit;
  color: inherit;
}
.calc-button:hover {
  background-color: inherit;
}
.calc-button:active {
  background-color: #ffef78;
}

.double {
  flex-basis: 52%;
}
